* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Nunito Sans", sans-serif;
}
.header {
  background-image: url("./image/Rectangle\ 1.png");
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 100% 50%;
  height: 100vh;
}
.container {
  padding: 30px 10%;
}
.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.links a {
  text-decoration: none;
  color: #fdfdfd;
  font-size: 18px;
  font-weight: 600;
  line-height: 100%;
  margin-right: 16px;
}
.btn_links button {
  background-color: #1a3e3e;
  padding: 10px;
  font-size: 16px;
  font-weight: 600;
  color: white;
}
.text1 {
  font-size: 28px;
  font-weight: 700;
  margin-top: 240px;
  color: white;
  width: 75%;
}
.list {
  background-color: rgba(255, 255, 255, 0.2);
  padding: 40px 30px;
  display: flex;
  gap: 40px;
  margin-top: 20px;
}
.inputs input,
select {
  width: 250px;
  height: 50px;
  background-color: transparent;
  color: white;
  border-radius: 8px;
  font-size: 16px;
  padding: 0px 4px;
}
.inputs p {
  color: white;
  font-size: 14px;
  margin-top: 4px;
}
.btn_form button {
  width: 200px;
  height: 50px;
  color: rgba(26, 62, 62, 1);
  font-weight: 700;
  font-size: 16px;
}
.heroicon {
  display: none;
}
.section1 {
  display: flex;
  gap: 120px;
  margin-top: 50px;
}
.bottom_img {
  z-index: 0;
}
.top_img {
  z-index: 1;
  position: absolute;
  top: 950px;
  left: 300px;
}
.textsec1 {
  width: 45%;
  margin-left: 80px;
}
.color_orange {
  color: rgba(242, 190, 34, 1);
  margin-bottom: 10px;
  font-size: 20px;
}
.textsec1 h3 {
  font-size: 30px;
}
.ful_text {
  color: rgba(24, 18, 30, 1);
  font-size: 16px;
}
.textsec1 button {
  width: 200px;
  height: 50px;
  background-color: #1a3e3e;
  color: white;
  margin-top: 90px;
  border-radius: 4px;
}
.section2 {
  background-color: #f3f5f4;
  margin-top: 150px;
}
.sec2_left {
  width: 48%;
}
.sec2_left h3 {
  font-size: 30px;
  margin-bottom: 20px;
}
.icon1_sec2 {
  display: flex;
  gap: 16px;
  margin: 20px 0px;
}
.contain2 {
  display: flex;
}
.sec2_right img {
  width: 78%;
  margin-top: 40px;
  margin-left: 30px;
}
.icons_sec2 button {
  background-color: #1a3e3e;
  padding: 10px 20px;
  color: white;
  border-radius: 4px;
  border: none;
}
.images_sec3 {
  display: flex;
  gap: 14px;
}
.section3 {
  text-align: center;
}
.section3 h3 {
  font-size: 30px;
  margin-bottom: 30px;
}
.section3 button {
  background-color: #1a3e3e;
  padding: 10px 30px;
  color: white;
  margin-top: 40px;
  margin-right: 50px;
  font-size: 18px;
}
.section4 {
  background-color: #f3f5f4;
}
.text_sec4 {
  text-align: center;
}
.box {
  display: flex;
  gap: 20px;
  width: 48%;
  background-color: #fdfdfd;
  border-radius: 10px;
  padding: 20px;
}
.text_box h6 {
  font-size: 18px;
}
.page_sec4 {
  font-size: 10px;
  color: #18121e;
  margin: 20px 0px;
}
.date_sec4 {
  display: flex;
  justify-content: space-between;
}
.date1 {
  margin-top: 140px;
}
.date2 {
  margin-top: 60px;
}
.date3 {
  margin-top: 150px;
}
.date4 {
  margin-top: 190px;
}
.forth {
  margin-right: 100px;
}
.date_orange {
  color: #f2be22;
  font-size: 14px;
}
.boxes {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  margin: 20px 0px;
}
.section4 button {
  background-color: #1a3e3e;
  padding: 10px 30px;
  border: none;
  display: block;
  margin: 20px auto;
  color: white;
  font-size: 16px;
}
.images {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
}
.section5 button {
  background-color: #1a3e3e;
  padding: 10px 26px;
  display: block;
  margin: 20px auto;
  color: white;
  font-size: 16px;
  border: none;
}
.text_sec5 {
  text-align: center;
  margin-bottom: 30px;
}
.text_sec5 h3 {
  font-size: 30px;
}
.left_sec6 {
  width: 40%;
}
.right_sec6 {
  width: 50%;
}
.form {
  display: flex;
  justify-content: space-between;
  background-color: #fdfdfd;
  border-radius: 6px;
  padding: 30px 60px;
  box-shadow: 0 4px 10px gray;
}
.form_sec6 {
  display: flex;
  gap: 10px;
}
.section6 button {
  background-color: #1a3e3e;
  padding: 10px 20px;
  font-size: 16px;
  color: white;
  margin-top: 30px;
}
.section6 h3 {
  font-size: 26px;
}
label {
  font-size: 16px;
  font-weight: 600;
}
.email input {
  margin: 10px 0px;
  width: 300px;
  height: 44px;
  background-color: #f3f5f4;
  border: none;
}