* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Nunito Sans", sans-serif;
}
.header {
  background-image: url("./image/Rectangle\ 1.png");
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 100% 50%;
  height: 100vh;
}
.container {
  padding: 30px 10%;
}
.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.links a {
  text-decoration: none;
  color: #fdfdfd;
  font-size: 18px;
  font-weight: 600;
  line-height: 100%;
  margin-right: 16px;
}
.btn_links button {
  background-color: #1a3e3e;
  padding: 10px;
  font-size: 16px;
  font-weight: 600;
  color: white;
}
.text1 {
  font-size: 28px;
  font-weight: 700;
  margin-top: 240px;
  color: white;
  width: 75%;
}
.list {
  background-color: rgba(255, 255, 255, 0.2);
  padding: 40px 30px;
  display: flex;
  gap: 40px;
  margin-top: 20px;
}
.inputs input,
select {
  width: 250px;
  height: 50px;
  background-color: transparent;
  color: white;
  border-radius: 8px;
  font-size: 16px;
  padding: 0px 4px;
}
.inputs p {
  color: white;
  font-size: 14px;
  margin-top: 4px;
}
.btn_form button {
  width: 200px;
  height: 50px;
  color: rgba(26, 62, 62, 1);
  font-weight: 700;
  font-size: 16px;
}
.heroicon {
  display: none;
}